[submodule "bundle/command-t"]
	path = bundle/command-t
	url = http://github.com/wincent/Command-T.git
[submodule "bundle-available/nodejs-snippets"]
	path = bundle-available/nodejs-snippets
	url = http://github.com/jamescarr/snipmate-nodejs.git
